.block_footer {
	position: relative;
  background-color: $colorDarkBlue;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $colorWhite;
  padding: 39px 0 30px 0;
  height: 59px
}

.block_footer-slogan {
  display: flex;
}
.block_footer-slogan-heart {
  color: $colorOrange;
}
.block_footer-slogan-p {
  margin: 0 3px 0 3px;
  padding:0;
}
