.block_main_section-reason {
  display: grid;
	justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 93px 93px 93px 45px 16px;
  background-color: #EFF9FF;
	grid-row-gap: 45px;
}
.block_main_section-reason-h3 {
  grid-column: span 3;
  text-align: center;
  padding: 30px 0 0 0;
  margin: 0;
}
.block_main_section-reason-article {
  grid-column: 1/4;
  text-align: center;
  padding: 0 21.875%;
  margin: 0;
}
.block_main_section-reason-more {
  grid-column: 1/4;
  width: 57.5%;
  max-width: 210px;
  height: 45px;
  text-decoration: none;
  border-radius: 30px;
  color: $colorWhite;
  background: $colorOrange;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
	.block_main_section-reason-btn {
    width: 27.34%;
    max-width: 255px;
	}
}
@media (min-width: 1280px) {
	.block_main_section-reason-btn {
    width: 19.92%;
	}
}
.block_main_section-reason-top {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 2/3;
	height: 45px;
	width: 45px;
	background-color: $colorWhite;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
	border: none;
	border-radius: 50px;
	padding: 0;
	z-index: 1;
	margin-top: -7px;
}
.block_main_section-reason-top-div {
	height: 24px;
	width: 20.6px;
	background-color: $colorWhite;
	background-image: url(../images/ico-arrow.svg);
	background-position: center center;
}
