.block_main_section-looking {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorWhite;
}
.block_main_section-looking-div {
  margin: 30px 4.6875% 45px 4.6875%;
}
@media (min-width: 768px) {
	.block_main_section-looking-div {
		margin: 30px 5.0781% 60px 5.0781%;
	}
}
@media (min-width: 1280px) {
	.block_main_section-looking-div {
		margin: 60px 21.4844% 60px 21.4844%;
	}
}
.block_main_section-looking-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26.21%;
  height: 45px;
  text-decoration: none;
  border-radius: 30px;
  color: $colorOrange;
  border: solid 2px $colorOrange;
  background: $colorWhite;
  cursor: pointer;
  padding: 0;
}
@media (min-width: 768px) {
  .block_main_section-looking-btn {
    width: 13.19%;
  }
}
@media (min-width: 1280px) {
  .block_main_section-looking-btn {
    width: 21.92%;
  }
}
