
// scroll hero down
.block_hero_scroll-div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 45px;
	border-radius: 50px;
	background-color: white;
	margin-top: 45px;
  @media (min-width: 768px) {
  		margin-top: 30px;
  	}
}

.block_hero_scroll-btn {
	height: 11.7px;
	width: 20px;
	background-color: white;
	background-image: url(../images/ico-scroll-down.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
	border: none;
	padding: 0;
}

// scroll reason up
.block_main_section-reason-top {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
	height: 45px;
	width: 45px;
	background-color: $colorWhite;
	border: none;
	border-radius: 50px;
	padding: 0;
	z-index: 1;
	margin-top: -7px;
}
.block_main_section-reason-top-div {
	height: 24px;
	width: 20.6px;
	background-color: $colorWhite;
	background-image: url(../images/ico-arrow.svg);
	background-position: center center;
}
